/* Popup */
#mc-wrapper,
#mc-wrapper input {
	font-size: 10px;
	font-family: Calibri, Verdana, sans-serif;
}

	#mc-body {
		background: #eee;
		border: 1px #666 solid;
		bottom: 48px;
		display: none;
		padding: 5px;
		position: fixed;
		right: 10px;
		width: 400px;
		z-index: 999999;
	}
	
	  #mc-components {
	  	height: 200px;
			margin: 0 -5px;
			overflow-y: scroll;
	  }
	
	    #mc-components table {
	    	margin: 0;
	    	width: 100%;
	    }
	
	      #mc-components tr.even {
	      	background: #f6f6f6;
	      }
	
			    #mc-components table th,
					#mc-components table td {
						padding: 5px;
					}
			 
			    #mc-components .component {
			    	
			    }
					
					#mc-components .date {
	          width: 120px;
	        }
					
					#mc-components .action {
	          width: 100px;
	        }
	
	#mc-control {
		background: #fcbaba;
	  border: 1px #666 solid;
	  bottom: 10px;
	  padding: 5px;
	  position: fixed;
	  right: 10px;
		text-align: right;
	  z-index: 999999;
	}
	
	#mc-control.recording {
		background: #bafcc2;
	}
	
	#mc-control.paused {
	  background: #f6cb00;
	}

/* Popup form */
#macro-code-components {
	
}

  #macro-code-components .form-item {
  	margin: 0;
  }

  #macro-code-components #edit-new-wrapper {
  	margin: 10px 0 0;
  }
	
	  #macro-code-components #edit-new-wrapper label {
	 	  float: left;
			margin: 1px 0 0 0;
    }
		
		#macro-code-components #edit-new-wrapper input {
      float: right;
			width: 293px;
    }

  #macro-code-components #mc-buttons {
  	margin: 10px 0 0 0;
  }
	
	  #macro-code-components #mc-buttons .form-submit {
	  	margin: 0;
	  }
	
	  #macro-code-components #mc-buttons #edit-stop {
	  	float: right;
	  }

/* Misc */
.mc-clear {
	clear: both;
}

#macro-code-import .macro-created{
  font-size: 11px;
}
#macro-code-import .macro-detail{
	text-transform: uppercase;
	font-size: 10px;
	cursor: pointer;
}
